{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Pembuatan Fasilitas Kesehatan
</title>
{% endblock %}
{% block style %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style type="text/css">
</style>


{% endblock %} {% block content %}

<div class="container">
	<div class="card mt-5">
	  <div class="card-header text-white text-center bg-primary">
	    <h3>Form Pembuatan Fasilitas Kesehatan</h3>
	  </div>

	  <div class="card-body">
		<form action="{% url 't3_faskes:faskes_create' %}" method="POST">
			{% csrf_token %}
			<table class="table">
			    <tr>
			        <td>
			          <label for="kode">Kode Faskes:</label>
			        </td>
			        <td>
			          <input type="text" class='form-control' value="{{ newkode }}" disabled>
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="tipe">Tipe:</label>
			        </td>
			        <td>
			          <input name="tipe" class='form-control' type="text" required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="nama">Nama Faskes:</label>
			        </td>
			        <td>
			          <input name="nama" class='form-control' type="text" required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="statusmilik">Status Kepemilikan:</label>
			        </td>
			        <td>
			          <input name="statusmilik" class='form-control' type="text" required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			  	<tr>
			        <td>
			          <label for="statusmilik">Alamat:</label>
			        </td>
			        <td>
			        </td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="jalan">Jalan:</label>
			        </td>
			        <td>
			          <input name="jalan" type="text" class='form-control' required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="kelurahan">Kelurahan:</label>
			        </td>
			        <td>
			          <input name="kelurahan" type="text" class='form-control' required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="kecamatan">Kecamatan:</label>
			        </td>
			        <td>
			          <input name="kecamatan" type="text" class='form-control' required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="kabkot">Kabupaten/Kota:</label>
			        </td>
			        <td>
			          <input name="kabkot" type="text" class='form-control' required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			    <tr>
			        <td>
			          <label for="prov">Provinsi:</label>
			        </td>
			        <td>
			          <input name="prov" type="text" class='form-control' required oninput="setCustomValidity('')"
			          oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')">
			   		</td>
			  	</tr>
			</table>
			<br>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">SIMPAN</button>
			</div>
		</form>
	  </div>
	</div>
</div>


{% endblock %}