{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  SIRUCO - Dashboard
</title>
{% endblock %}
{% block style %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %} {% block content %}

<h1 class="p-2 text-center">Dashboard</h1>

<h2>Profil</h2>
<h3>Username : {{ username }}</h3>

<ul>
	{% if peran == "admin_sistem" %}
	<li>
		<h2>Hotel</h2>
		<ol>
			<li>Buat Hotel</li>
			<li><a href={% url "t4_hotel:hotel_index" %}>List Hotel</a></li>
			<li>Buat Ruangan Hotel</li>
			<li>List Ruangan Hotel</li>
			<li>Buat Paket Makan</li>
			<li>List Paket Makan</li>
		</ol>
	</li>
	{% elif peran == "pengguna_publik" %}
	<li>
		<h2>Pasien</h2>
		<ol>
			<li>Pendaftaran Pasien</li>
			<li>List Pasien</li>
			<li>Buat Appointment</li>
			<li>List Appointment</li>
			<li>List Hasil Tes Pasien</li>
		</ol>
	</li>
	<li>
		<h2>Rumah Sakit</h2>
		<ol>
			<li>List Jadwal Dokter</li>
			<li>List Reservasi RS</li>
		</ol>
	</li>
	<li>
		<h2>Hotel</h2>
		<ol>
			<li><a href={% url "t4_hotel:hotel_index" %}>List Hotel</a></li>
			<li>List Ruangan Hotel</li>
			<li>List Paket Makan</li>
			<li>Buat Reservasi Hotel</li>
			<li>List Reservasi Hotel</li>
		</ol>
	</li>
	<li>
		<h2>Transaksi</h2>
		<ol>
			<li>Bayar Transaksi RS</li>
			<li>Bayar Transaksi Hotel</li>
			<li>List Transaksi Booking Hotel</li>
			<li>Buat Transaksi Makan dan Daftar Pesan</li>
			<li>List Transaksi Makan dan Daftar Pesan</li>
		</ol>
	</li>
	{% elif peran == "admin_dokter" %}
	<li>
		<h2>Pasien</h2>
		<ol>
			<li>List Appointment</li>
			<li>Buat Hasil Tes Pasien</li>
			<li>List Hasil Tes Pasien</li>
		</ol>
	</li>
	<li>
		<h2>Rumah Sakit</h2>
		<ol>
			<li>Buat Jadwal Dokter</li>
			<li>List Jadwal Dokter</li>
		</ol>
	</li>
	{% elif peran == "admin_satgas" %}
	<li>
		<h2>Pasien</h2>
		<ol>
			<li>Buat Appointment</li>
			<li>List Appointment</li>
			<li>List Hasil Tes Pasien</li>
		</ol>
	</li>
	<li>
		<h2>Faskes</h2>
		<ol>
			<li>Buat Faskes</li>
			<li>List Faskes</li>
			<li>Buat Jadwal Faskes</li>
			<li>List Jadwal Faskes</li>
		</ol>
	</li>
	<li>
		<h2>Rumah Sakit</h2>
		<ol>
			<li>Buat RS</li>
			<li>List RS</li>
			<li>List Jadwal Dokter</li>
			<li>Buat Ruangan RS</li>
			<li>List Ruangan RS</li>
			<li>Buat Bed RS</li>
			<li>List Bed RS</li>
			<li>Buat Reservasi RS</li>
			<li>List Reservasi RS</li>
		</ol>
	</li>
	<li>
		<h2>Hotel</h2>
		<ol>
			<li><a href={% url "t4_hotel:hotel_index" %}>List Hotel</a></li>
			<li>List Ruangan Hotel</li>
			<li>List Paket Makan</li>
			<li>Buat Reservasi Hotel</li>
			<li>List Reservasi Hotel</li>
		</ol>
	</li>
	<li>
		<h2>Transaksi</h2>
		<ol>
			<li>List Transaksi RS</li>
			<li>List Transaksi Hotel</li>
			<li>List Transaksi Booking Hotel</li>
			<li>Buat Transaksi Makan dan Daftar Pesan</li>
			<li>List Transaksi Makan dan Daftar Pesan</li>
		</ol>
	</li>
	{% endif %}


</ul>


{% endblock content %}
