{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  Log In
</title>
{% endblock %}
{% block style %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %} {% block content %}

<table border="1px solid black" align="center">
  <tr>
    <th>FORM LOGIN</th>
  </tr>
  <tr>
    <td>
      <form action="" method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td>
              <label for="email">
                Email:
              </label>
            </td>
            <td>
              <input name="email" type="text" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="username">
                Password:
              </label>
            </td>
            <td>
              <input name="password" type="password" />
            </td>
          </tr>
        </table>
        <div style="text-align: center;">
          <button type="submit">
            LOGIN
          </button>
        </div>
      </form>
    </td>
  </tr>
</table>

{% endblock %}
