{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Register</title>
{% endblock meta %}

{% block content %}


<div class="container">
	<h3> Pilih Form Pendaftaran : </h3>
	<div class="d-grid gap-2">
	  <button class="btn btn-success" type="button">
	  <a href="{% url 't1_auth:register_admin_sistem' %}">ADMIN SISTEM</a>
	  </button>
	  <button class="btn btn-success" type="button">
	  <a href="{% url 't1_auth:register_user' %}">PENGGUNA PUBLIK</a>
	  </button>
	  <button class="btn btn-success" type="button">
	  <a href="{% url 't1_auth:register_dokter' %}">DOKTER</a>
	  </button>
	  <button class="btn btn-success" type="button">
	  <a href="{% url 't1_auth:register_admin_satgas' %}">ADMIN SATGAS</a>
	  </button>
	</div>
	<br>
	
	<button class="btn btn-primary" type="button">
		<a href="{% url 'main:home' %}">Back</a>
	</button>
</div>
{% endblock content %}
