{% extends 'base.html' %} {% load static %} {% block head %}
<title>
  SIRUCO
</title>
{% endblock %}
{% block style %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %} {% block content %}

<table border="1px solid black" align="center" style="margin-top:2rem">
  <tr>
    <th>FORM PENDAFTARAN ADMIN SATGAS</th>
  </tr>
  <tr>
    <td>
      <form action="{% url 't1_auth:register' %}" method="POST">
        {% csrf_token %}
        <table>
          <input name="peran" value="admin_satgas" hidden />
          <tr>
            <td>
              <label for="email">
                Email:
              </label>
            </td>
            <td>
              <input name="email" type="text" required maxlength="50" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">
                Password:
              </label>
            </td>
            <td>
              <input name="password" type="password" required maxlength="20" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="id_faskes">
                Kode Faskes:
              </label>
            </td>
            <td>
              <select name="id_faskes" required>
                {% for kode in fakseslist %}
                <option value="{{ kode }}">{{ kode }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <div style="text-align: center;">
          <button type="submit">
            REGISTER
          </button>
        </div>
      </form>
    </td>
  </tr>
</table>

{% endblock %}