{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Ruangan Hotel | SIRUCO</title>
<meta name="description" content="Sistem Informasi Rujukan COVID-19">
<meta property="og:title" content="SIRUCO">
<meta property="og:type" content="website">
<meta property="og:site_name" content="SIRUCO">
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
{% endblock style %}

{% block script_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block content %}
<h1>Form Ubah Ruangan Hotel</h1>
<ul>
    <li>
        <label for="hotel">Kode Hotel:</label>
        <input type="text" value="{{ room.0 }}" id="hotel" name="hotel" disabled>
    </li>
    <li>
        <label for="koderoom">Kode Ruangan:</label>
        <input type="text" value="{{ room.1 }}" id="koderoom" name="wktbayar" disabled>
    </li>
    <li>
        <label for="jenisbed">Jenis Bed:</label>
        <input type="text" value="{{ room.2 }}" id="jenisbed" name="jenisbed">
    </li>
    <li>
        <label for="tiperoom">Tipe:</label>
        <input type="text" value="{{ room.3 }}" id="tiperoom" name="tiperoom">
    </li>
    <li>
        <label for="hargaharian">Harga per Hari:</label>
        <input type="text" value="{{ room.4 }}" id="hargaharian" name="hargaharian">
    </li>
</ul>
<button>Simpan Ruangan Hotel</button>

{% endblock content %}
