{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Hotel | SIRUCO</title>
<meta name="description" content="Sistem Informasi Rujukan COVID-19">
<meta property="og:title" content="SIRUCO">
<meta property="og:type" content="website">
<meta property="og:site_name" content="SIRUCO">
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
{% endblock style %}

{% block script_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block content %}
<h1>List Hotel</h1>
<p>Menu yang tersedia:</p>
<ul>
    <li><a href={% url "t4_hotel:ruangan_hotel" %}>Buat Ruangan</a></li>
    <li><a href={% url "t4_hotel:reservasi_hotel" %}>Reservasi Hotel</a></li>
    <li><a href={% url "t4_hotel:transaksi_hotel" %}>Transaksi Hotel</a></li>
    <li><a href={% url "t4_hotel:transaksi_booking_hotel" %}>Transaksi Booking Hotel</a></li>
</ul>

{% if hotels %}
<h3>DAFTAR HOTEL</h3>
<table style="width:100%">
  <tr>
    <th>No.</th>
    <th>Kode Hotel</th>
    <th>Kode Ruangan</th>
    <th>Jenis Bed</th>
    <th>Tipe</th>
    <th>Harga</th>
    {% if peran == "admin_sistem" %}<th>Action</th>{% endif %}
  </tr>
  {% for hotel in hotels %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ hotel.0 }}</td>
    <td>{{ hotel.1 }}</td>
    <td>{{ hotel.2 }}</td>
    <td>{{ hotel.3 }}</td>
    <td>{{ hotel.4 }}</td>
    {% if peran == "admin_sistem" %}
        <th>
        <button><a href={% url 't4_hotel:ruangan_hotel_update' koderoom=hotel.1 %}>Update</a></button>
        <button>Delete</button>
        </th>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock content %}
