{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Ruangan Hotel | SIRUCO</title>
<meta name="description" content="Sistem Informasi Rujukan COVID-19">
<meta property="og:title" content="SIRUCO">
<meta property="og:type" content="website">
<meta property="og:site_name" content="SIRUCO">
{% endblock head %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
{% endblock style %}

{% block script_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock script_head %}

{% block content %}
<h1>Form Pembuatan Ruangan Hotel</h1>
<ul>
    <li>
        <label for="hotels">Kode Hotel:</label>
        <select name="hotels" id="hotels">
            {% for code in codes %}
            <option value="{{ code }}">{{ code }}</option>
            {% endfor %}
        </select>
    </li>
    <li>Kode Ruangan</li>
    <li>Jenis Bed</li>
    <li>Tipe</li>
    <li>Harga per Hari</li>
</ul>
<button>Simpan Ruangan Hotel</button>

{% endblock content %}

{% block script_foot %}
<script src={% static 'js/book_script.js' %}></script>
{% endblock script_foot %}
