
.isi {
    margin: 1rem auto;
    width: 70%;
}
.isi-form {
    margin: 1rem auto;
    text-align: center;
}


.t2-table {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgbs(0,0,0,0.15);
    text-align: center;
}
.t2-table th {
    text-align: center;
    background-color: #1CC8A0;
    color: #102B3E;
    padding: 10px 8px;
    border-bottom: 2px solid #102B3E;
}
.t2-table tr {
    border-bottom: 1px #dddddd;
    background-color: white;
    color: #102B3E;
    transition: .5s;
}
.t2-table tr:hover {
    background-color: #F5F5F5;
    transition: .5s;
}
.t2-table:last-of-type {
    border-bottom: 2px solid #102B3E;
}
.t2-table td:nth-of-type(even), .t2-table th:nth-last-of-type(even) {
    border-left: 1px solid #102B3E;
    border-right: 1px solid #102B3E;
}
.t2-table td {
    width: 25.6%;
}
.t2-table tr.t6 td {
    width: 15%;
}
.t2-table tr.t4 td {
    width: 30%;
}
.t2-table td.tdn, .t2-table tr.t6 td.tdn, .t2-table tr.t4 td.tdn {
    width: 5%;
}