{% extends 'base.html' %}

{% block head %}
<title>Form Ubah Paket Makan</title>
{% endblock %}

{% block content %}

<table border="1px solid black" align="center" style="margin-top:3rem">
    <tr>
        <th>FORM UBAH PAKET MAKAN</th>
    </tr>
    <tr>
        <td>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <label for="kodeH">
                                <b>Kode Hotel:</b>
                            </label>
                        </td>
                        <td>
                            <input name="kodeH" type="text" readonly="readonly" value="{{ result.kodehotel }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="kodeP">
                                <b>Kode Paket:</b>
                            </label>
                        </td>
                        <td>
                            <input name="kodeP" type="text" readonly="readonly" value="{{ result.kodepaket }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="namaP">
                                <b>Nama Paket:</b>
                            </label>
                        </td>
                        <td>
                            <input name="namaP" type="text" maxlength="20" required
                                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu!!!')"
                                oninput="setCustomValidity('')" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="harga">
                                <b>Harga:</b>
                            </label>
                        </td>
                        <td>
                            <input name="harga" type="number" required
                                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu!!!')"
                                oninput="setCustomValidity('')" />
                        </td>
                    </tr>
                    <tr>
                        <td><br></td>
                    </tr>
                </table>
                <div style="text-align: center;">
                    <button type="submit">
                        SUBMIT
                    </button>
                </div>
            </form>
        </td>
    </tr>
</table>

<div style="text-align: center;">
    <a href="{% url 't5_makanan:makanan_index' %}#paket-makan">Kembali</a>
</div>

{% endblock %}