{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Form Buat Transaksi Makan</title>
{% endblock %}

{% block script_head %}
{% endblock %}

{% block content %}

<table border="1px solid black" align="center" style="margin-top:3rem">
  <tr>
    <th>FORM BUAT TRANSAKSI MAKAN</th>
  </tr>
  <tr>
    <td>
      <form action="" method="POST">
        {% csrf_token %}
        <table id="blockPaket">
          <tr>
            <td>
              <label for="id_h">
                <b>Id Transaksi:</b>
              </label>
            </td>
            <td>
              <select name="id_h" id="id_h" required
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu!!!')"
                oninput="setCustomValidity('')">
                <option selected>-- pilih id --</option>
                {% for res in result.idhotel %}
                <option value="{{ res }}">{{ res }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="id_tm">
                <b>Id Transaksi Makan:</b>
              </label>
            </td>
            <td>
              <input name="id_tm" type="text" readonly="readonly" value="{{ result.idmakan }}" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="kodeHotel">
                <b>Kode Hotel:</b>
              </label>
            </td>
            <td>
              <input name="kodeHotel" type="text" readonly="readonly" value="" id="kodeHotel" />
            </td>
          </tr>
          <tr>
            <td><br></td>
          </tr>
          <tr>
            <td>
              <b>Pesanan:</b>
            </td>
          </tr>
          <tr>
            <td>
              <label for="paket1">
                <b>Kode Paket:</b>
              </label>
            </td>
            <td>
              <select name="paket1" class="kodePaket" id="paket1" required
                oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu!!!')"
                oninput="setCustomValidity('')">
                <option value="">-- pilih paket --</option>
              </select>
            </td>
          </tr>
        </table>

        <br />
        <div style="text-align: center;">
          <a href="#" id="tambah">TAMBAH</a>
        </div>
        <br />
        <div style="text-align: center;">
          <button type="submit">
            SUBMIT
          </button>
        </div>
      </form>
    </td>
  </tr>
</table>

<div style="text-align: center;">
  <a href="{% url 't5_makanan:makanan_index' %}#tr-makan">Kembali</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/t5_makanan.js' %}"></script>
{% endblock %}
