{% extends 'base.html' %} {% load static %}
{% block head %}
<title>
    Buat Appointment
</title>
{% endblock %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/t2.css' %}">
{% endblock %}
{% block content %}

<div class="isi">
    <table class='t2-table table-responsive'>
        <tr>
            <th>No</th>
            <th>No STR</th>
            <th>Dokter</th>
            <th>Faskes</th>
            <th>Shift</th>
            <th>Tanggal</th>
            <th>Buat Appointment</th>
        </tr>
        {% for j in jadwal %}
        <tr class="t6">
            <td class="tdn">{{j.no}}</td>
            <td>{{j.no_str}}</td>
            <td>{{j.dokter}}</td>
            <td>{{j.faskes}}</td>
            <td>{{j.shift}}</td>
            <td>{{j.tanggal}}</td>
            <td class="tds"><a
                    href="{% url 't2_appointment:form_appointment' email=j.dokter faskes=j.faskes tanggal=j.tanggal shift=j.shift %}">Book</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}