{% extends 'base.html' %} {% load static %}
{% block head %}
<title>
    Appointment - SIRUCO
</title>
{% endblock %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/t2.css' %}">
{% endblock %}
{% block content %}
<h2>Rumah Sakit</h2>
<ul>
    {% if role == 'admin_dokter'%}
    <li><a href="{% url 't2_appointment:create_jadwal' %}">Buat Jadwal Dokter</a></li>
    {% endif %}
    <li><a href="{% url 't2_appointment:read_jadwal' %}">List Jadwal Dokter</a></li>
    {% if role == 'admin_satgas'%}
    <li><a href="{% url 't2_appointment:create_ruangan_rs' %}">Buat Ruangan RS</a></li>
    <li><a href="{% url 't2_appointment:read_ruangan_rs' %}">List Ruangan RS</a></li>
    <li><a href="{% url 't2_appointment:create_bed_rs' %}">Buat Bed RS</a></li>
    <li><a href="{% url 't2_appointment:read_bed_rs' %}">List Bed RS</a></li>
    {% endif %}
</ul>
<h2>Pasien</h2>
<ul>
    {% if role != 'admin_dokter' %}
    <li><a href="{% url 't2_appointment:create_appointment' %}">Buat Appointment</a></li>
    {% endif %}
    <li><a href="{% url 't2_appointment:read_appointment' %}">List Appointment</a></li>
</ul>
{% endblock %}