{% extends 'base.html' %} {% load static %}
{% block head %}
<title>
    List Appointment
</title>
{% endblock %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/t2.css' %}">
{% endblock %}
{% block content %}

<div class="isi">
    <table class='t2-table table-responsive'>
        <tr>
            <th>No</th>
            <th>NIK Pasien</th>
            <th>Dokter</th>
            <th>Faskes</th>
            <th>Shift</th>
            <th>Tanggal</th>
            <th>Rekomendasi</th>
            {% if role == 'admin_satgas' or role == 'admin_dokter' %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for j in list_appointment %}
        <tr class="t6">
            <td class="tdn">{{j.no}}</td>
            <td>{{j.nik}}</td>
            <td>{{j.dokter}}</td>
            <td>{{j.faskes}}</td>
            <td>{{j.shift}}</td>
            <td>{{j.tanggal}}</td>
            <td>{{j.rekomendasi}}</td>
            {% if role == 'admin_dokter' %}
            <td class="tds"><a
                    href="{% url 't2_appointment:update_appointment' nik=j.nik email=j.dokter shift=j.shift tanggal=j.tanggal faskes=j.faskes %}">Update</a>
            </td>
            {% elif role == 'admin_satgas' %}
            <td class="tds"><a
                    href="{% url 't2_appointment:delete_appointment' nik=j.nik email=j.dokter shift=j.shift tanggal=j.tanggal faskes=j.faskes %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}