{% extends 'home-t2.html' %} {% load static %}
{% block head %}
<title>
    List Jadwal Dokter
</title>
{% endblock %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/t2.css' %}">
{% endblock %}
{% block subcontent %}

<div class="isi">
    <table class='t2-table table-responsive'>
        <tr>
            <th>No</th>
            <th>No STR</th>
            <th>Dokter</th>
            <th>Faskes</th>
            <th>Shift</th>
            <th>Tanggal</th>
            <th>Jumlah Pasien</th>
        </tr>
        {% for j in jadwal %}
        <tr class="t6">
            <td class="tdn">{{j.no}}</td>
            <td>{{j.no_str}}</td>
            <td>{{j.dokter}}</td>
            <td>{{j.faskes}}</td>
            <td>{{j.shift}}</td>
            <td>{{j.tanggal}}</td>
            <td>{{j.jml_pasien}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}