{% extends 'home-t2.html' %} {% load static %}
{% block head %}
<title>
    Update Ruangan RS
</title>
{% endblock %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/t2.css' %}">
{% endblock %}
{% block subcontent %}
<div class="isi-form">
    <h2>Form Ubah Ruangan RS</h2>
    <div>
        <form th:action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="kodeRS">Kode Rumah Sakit:</label>
                <input type="text" name="kodeRS" id="kodeRS" value='{{kodeRS}}' disabled>
            </div>
            <div>
                <label for="kodeRuangan">Kode Ruangan:</label>
                <input type="text" name="kodeRuangan" id="kodeRuangan" value='{{kodeRuangan}}' disabled>
            </div>
            <div>
                <label for="tipe">Tipe:</label>
                <input type="text" id="cek-isi-form" name="tipe" value="{{tipe}}">
            </div>
            <div>
                <label for="harga">Harga Ruangan:</label>
                <input type="text" id="cek-isi-form2" name="harga" value="{{harga}}">
            </div>
            <div>
                <label id="input-kosong"></label>
            </div>

            <button type="submit" id="button-submit-cek" class="btn btn-primary">Simpan
            </button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="{% static 'js/t2-appointment.js' %}"></script>

{% endblock %}