{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>SIRUCO</title>
{% endblock meta %}

{% block content %}
<div class="navbar justify-content-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 't2_appointment:read_jadwal' %}">Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 't3_faskes:index' %}">Faskes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 't4_hotel:ruangan_hotel' %}">Hotel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 't5_makanan:tr_makan' %}">Makanan</a>
    </li>
    <!-- #TODO : FLOAT RIGHT -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 't1_auth:login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 't1_auth:register' %}">Register</a>
    </li>
  </ul>
</div>

  <h1 class="p-5 text-center">SIRUCO - TK6D</h1>

{% endblock content %}
